* {
    padding: 0;
    box-sizing: border-box;
}

.item {
    width: 200px;
    height: 200px;
    position: absolute;

}

.item-1 {
    background-color: red;
}

.item-2 {
    background-color: green;
    z-index: 1;
    left: 50px;
    top: 50px;
    transition: all 0.3s ease;
}

.item-2:hover {
    width: 300px;
    height: 300px;
    transform: rotate(-45deg);
}

.item-3 {
    background-color: blue;
    left: 100px;
    top: 100px;
}